<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
      <!-- Blog Title -->
      <h2 id='blog-title'>{{blog.title}}</h2>
      <p id='blog-author'>By {{blog.user.name}}</p>

      <!-- Blog Content -->
      <p id='blog-content'>{{blog.content}}</p>
    </div>
  </div>

  <!-- Render existing comments -->
  <div class='row mt-4' id='comments-container'>
    <div class='col-md-12'>
      <h3>Comments:</h3>

      {{#if blog.comments.length}}
        {{#each blog.comments as |comment|}}
          <div class='comment-box'>
            <p><strong>{{comment.user.name}}</strong> said:</p>
            <p>{{comment.text}}</p>
          </div>
        {{/each}}
      {{else}}
        <p>No comments yet. Be the first to comment!</p>
      {{/if}}
    </div>
  </div>

  <!-- Comment Form -->
  <div class='row mt-4'>
    <div class='col-md-12'>
      <h4>Leave a Comment:</h4>
      <form id='comment-form'>
        <div class='form-group'>
          <textarea
            id='comment-text'
            class='form-control'
            placeholder='Write your comment here...'
            rows='4'
            required
          ></textarea>
        </div>
        <button type='submit' class='btn btn-primary'>Submit Comment</button>
      </form>
    </div>
  </div>
</div>

<script src='/js/blog.js'></script>