{{#unless logged_in}}
<h2>Log In Now to View and Add Comments!</h2>
{{/unless}}

<div class='blogs-container'>
  {{#if blogs.length}}
    {{#each blogs}}
      <div class='blog-post'>
        <div class='blog-header'> <!-- New div for the header -->
          <h2>
          {{#if ../logged_in}} <!-- Check if user is logged in -->
            <a href='/blog/{{this.id}}'>{{this.title}}</a>
          {{else}}
            {{this.title}}
          {{/if}}
          </h2>
          <p>By {{this.user.name}} on {{formatDate this.createdAt}}</p>
        </div>
        
        <div class='blog-info'>
          <p>{{this.content}}</p>
        </div>
      </div> <!-- Close the blog-post div properly -->
    {{/each}}
  {{else}}
    <p>No blogs available.</p>
  {{/if}}
</div>

<!-- Add the login status to a script tag -->
<script src='/js/home.js'></script>
